@model Delivery.Core.ViewModels.Categories.CategoryInputModel
@{
}

<form asp-area="Admin" asp-controller="Categories"  asp-action="Create" method="post" id="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" aria-required="true" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">
            <button id="submit-btn" type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        <!-- /.col -->
    </div>
</form>

@section Style{
    <link rel="stylesheet" href="~/css/categories/create.css" asp-append-version="true"/>
}