@model List<Delivery.Core.ViewModels.Categories.CategoryViewModel>
@using Delivery.Core.Constants
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdministrationLayout.cshtml";
    ViewData[GlobalConstants.viewDataTitle] = "Категории";
}
<div class="table-holder">
    <table class="table table-success table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th class="second-column" scope="col">Име </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@category.Name</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-secondary btn-sm">Редакция</a>
                        <button type="button" class="btn btn-danger btn-sm" onclick='deleteModal("/Admin/Categories/Delete?id=@(category.Id)")'>Изтриване</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_DeleteMessagePartial"/>

@section Style{
<style>
    div.table-holder {
        width: 50%;
        margin: 0 auto;
    }

    tr > th.second-column {
        width: 60%;
    }
</style>
}

