@using Delivery.Core.Constants
<div style="width: 100%;">
@if (GlobalConstants.IsOpen)
{
    @if (GlobalConstants.TimeNow > GlobalConstants.CloseTime || GlobalConstants.TimeNow < GlobalConstants.OpenTime)
    {
        if (GlobalConstants.TimeNow > GlobalConstants.CloseTime)
        {
            <div id="alert" class="alert alert-danger " role="alert">
                <div id="closed" class="center">Затворено. Ще приемаме поръчки отново утре в @GlobalConstants.OpenTime.ToString("hh':'mm") часа.</div>
            </div>
        }
        else
        {
            <div id="alert" class="alert alert-danger " role="alert">
                <div id="closed" class="center">Затворено. Ще приемаме поръчки отново в @GlobalConstants.OpenTime.ToString("hh':'mm") часа.</div>
            </div>
        }

    }
    else if (GlobalConstants.TimeNow < GlobalConstants.CloseTime && GlobalConstants.TimeNow > GlobalConstants.LastOrderTime)
    {
        <div id="alert" class="alert alert-danger " role="alert">
            <div id="lastOrder" class="center">Последни поръчки. Затваряме в @GlobalConstants.CloseTime.ToString("hh':'mm") часа.</div>
        </div>
    }
}
else
{
    <div id="alert" class="alert alert-info" role="alert">
        <div style=" font-size: 30px; margin: 0 auto; text-align: center;">Сайта временно не приема поръчки!</div>
    </div>
}
</div>