html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
/*
body {
  margin-bottom: 60px;
}*/
.alert{
    margin-bottom: 0 !important;
    padding: 0 !important;
}


.footer {
    min-height: 55px;
    padding: 15px 0;
}

.checked-star {
    position: relative;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url('/images/star.png') 0 0;
    margin: 6px 0 8px 0;
}

.unchecked-star {
    position: relative;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url('/images/star.png') 0 -16px;
    margin: 6px 0 8px 0;
}