<div class="container">
    <div class="row" style="background-color: rgba(180,163,147, 0.5);">
        <!--Categories-->
        <div class="col-lg-3">
            <div class="list-group">
                @foreach (var item in Model.Categories)
                {
                    <a asp-area="Guest" asp-controller="Menu" asp-action="GetProductsByCategory" asp-route-categoryId="@item.Id" class="btn mt-2 bg-aliceblue"><h3>@item.Name</h3></a>
                }
            </div>
        </div>
        <!--Products-->
        <div class="col-lg-9">
            <div class="row table-food" style="margin:0;">
                <img class="img_top" src="~/Images/960-540-tapas-ispaniia-masa-hrana-vkusno.jpg" height="350" alt="Маса с храна">
            </div>
            <div class="row" id="products">
                @foreach (var product in Model.Products)
                {
                    <partial name="_ProductCardPartial" model="product" />
                }

            </div>
        </div>
    </div>
</div>
@section Style{
<style>
    .bg-aliceblue {
        background-color: aliceblue;
    }

    .img_top {
        padding: 0px;
    }
</style>
}
@section Scripts{
<script src="~/js/shared/site.js" asp-append-version="true"></script>
}